
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#header{
    width: 100%;
    padding: 1rem 4%;
    color: white;
    background-color: black;
        /* border: 1px solid red; */
}
#navBar{
    width: 100%;
    display: flex;
    align-items: center;  
    justify-content: space-between;
}
#siteLogo{
    width: 12.5%;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
#logo{
    width: 40%;
    height: 33px;
}
#logoName{
    font-size: 2rem;
    font-weight: 700;
}
#props{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navLinks {
    width: 70%;
}
#navLinks ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 2rem;
}
#navLinks ul li a {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
#signs {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

#signs ul {
    list-style: none;

}
#signs ul li a {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-decoration: none;
}
#signUp{
    font-size: 1rem;
    font-weight: 700;
    color: black;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 9px;
} 
#heroSection{ 
    width: 100%;
    color: white;
    background-color: black;
    background-image: url(./src/Images/group.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 7rem;
}

#jump{
    width: 67%;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 5rem;
    text-align: center;
    font-weight: 700;
    font-size:5rem;

}
#meta{
    width: 45%;
    margin: auto;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
}
#button{
    width: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    margin: auto;
    margin-top: 5%;
    gap: 1.5rem;
    padding: 1rem 0%;
    font-size: 1.25rem;
    font-weight: 700;
}
#button a{
    color: black;
    text-decoration: none;
}
#moneyCount{
    background-color: white;
}
#countUp{
    display: flex;
    width: 52%;
    margin: auto;
    margin-top: 6%;
    justify-content:space-between;
    text-align: center;
    margin-bottom: 6%;
}
.counter{
    font-size: 2.5rem;
    font-weight: 700;
}
.stat-label{
    font-size: 1rem;
    font-weight: 600;
    color: #717171;
}

#chart{
    display: flex;
    width: 100%;
    margin-bottom: 6%;
}
#img-chart{
    width: 100%;
    /* margin: auto; */
}
#Portfolio{
    width: 73%;
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
}
#create{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
#coin{
    font-size: 1.25rem;    
    font-weight: 600;
    color: #6F6F6F;
}
#manageportfolio{
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-color: #000;
    background-image: url(./src/Images/Mask.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.scroll-box {
    height: auto;
    max-height: 400px;
    width:31%;
    overflow-y: auto;
    direction: rtl;
    /* Trick to move scrollbar to the left */
    position: relative;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-left:6%;
    background-color: #000;
    color: white;
}

/* This reverses content so it doesn’t also go RTL */
.scroll-content {
    direction: ltr;
}

.scroll-box::-webkit-scrollbar {
    width: 3px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #A0A0A0;
    border-radius: 10px;
    /* Rounded scrollbar ends */
}

.scroll-box::-webkit-scrollbar-track {
    background: #4F4F4F;
}

.scroll-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #757575;
    margin-bottom: 0.25rem;
}

.scroll-subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 1rem;
    width: 90%;
}

.scroll-item {
    margin-bottom: 1.5rem;
}
#scrollItemee{
    color: white;
}

/* .fade-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
} */

#trusted{
    width: 100%;
    background-color: white;
}
#crypto{
    width: 52%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
#cryptoH{
    font-size: 3rem;
    font-weight:700;
    text-align: center;
}
#cryptoP{
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    color: #6F6F6F;
    padding-top: 1rem;
}

#lined-items{
    width: 91%;
    margin: auto;
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
}
.lineItem{
    width: 31%;
    border-radius: 27px;
    padding: 3.125rem 2.125rem;
    background-color: #F4F4F4;
}
.circle{
    width: 102.96px;
    height: 102.96px;
    border-radius: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE5DF;
}
.svg{
    width: 3.25rem;
    height: 3.25rem;
    max-width: 100%;
}
.lineh{
    font-size:1.8rem ;
    font-weight: 800;
    margin-bottom: 1rem;
}
.lineP{
    font-size: 0.8rem;
    font-weight: 500;
    color: #444444;
}
#brands{
    width: 73%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
    /* border: 1px solid red; */
}
.brandImage{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
/* .brandpic{
    width: 150px;
} */
#footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start ;
    background-color: #E8E8E8;
}

#legal-links {
    display: grid;
    /* 3 equal columns */
    grid-template-columns: repeat(3, 1fr);
    /* spacing between items */
    gap: 1.2rem;
    padding-bottom: 7rem;
    width: 60%;
    margin-top: 7rem;
}

#legal-links a {
    text-decoration: none;
    color: #000;
    font-size: 1.05rem;
    transition: color 0.2s ease;
}

#legal-links a:hover {
    color: #ff360a;
}
.logo2{
    margin-top: 7rem;
}


/* @media (max-width: 600px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }
} */
